@use "./variables.scss" as *;

// put your custom CSS here!
body[data-slug="index"] {
  .content-meta {
    display: none !important;
  }
}

img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt*="right"] {
    float:right;
    clear:right;
    margin-left: 1rem;
    margin-bottom: 2px;
    margin-top: 2px;
}